* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-rows: auto auto 1fr auto;
    grid-template-columns: 3fr 1fr;
    grid-template-areas:
    "header header"
    "nav nav"
    "main aside"
    "footer footer";
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    grid-area: header;
    background-color: #333;
    color: white;
}

.content {
    padding: 20px;
}

nav{
    grid-area: nav;
    background-color: #000;
}

nav ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 15px 0;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

main {
    grid-area: main;
    background-color: #d9d9d9;
    padding: 20px;
}

aside {
    grid-area: aside;
    background-color: #ffffff;
    padding: 20px;
}

footer {
    grid-area: footer;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}